
// KEEP IN MIND BLOCK
.keep-in-mind
  padding: 0
  margin: 1rem 0 2rem
  border: 1px solid $gray
  background-color: $light-gray
  border-radius: $radius
  position: relative
  font-style: italic
  overflow: hidden;

  strong
    display: block
    box-shadow: 0 0 3px rgba(0,0,0,0.2)
    width: 100%
    border-radius: $radius $radius 0 0
    padding: 0.5rem 1rem
    background-color: $light-yellow

  p
    padding: 0.5rem 1rem
    margin: 0
