<div class="container">
    {% for link in breadcrumbs %}

        {% if not loop.last %}
            <a href="{{ link.route }}">{{ link.label }}</a> /
        {% else %}
            {{ link.label }}
        {% endif %}

    {% endfor %}
</div>
