{% extends 'layout' %}


{% block content %}
    <div class="colums">

        <ul>
        {% for author in authors %}
            <li class="column card media">
                <a href="/author/{{ author.slug }}">{{ author.name }}</a>
                <a href="{{ author.website }}">Website</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
