{% extends 'layout' %}


{% block content %}

    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ post.route }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
