{% extends 'layout' %}


{% block content %}

    <ul>
    {% for item in post.posts %}
        <li>
            <a href="{{ item.route }}">{{ item.title }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
