{% extends "layout" %}

{% block content %}
    <h1>{{ title }}</h1>

    <blockquote>
    Last Modified: <time datetime="{{ updated }}">{{ updated }}</time>
    </blockquote>

    {{ contents|safe }}
{% endblock content %}
