{% extends "layout" %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <blockquote>
    <strong>Last Modified:</strong> <time datetime="{{ post.updated }}">{{ post.updated|date('MMMM Do, Y') }}</time>
    </blockquote>

    {{ post.content|md }}
{% endblock %}
