
.control
    font-size: 1rem
    position: relative
    text-align: left


    &.has-icon .icon
        color: #dbdbdb
        height: 2.25em
        pointer-events: none
        position: absolute
        top: 0
        width: 2.25em
        z-index: 4


    &.has-icon .input:focus + .icon
        color: #7a7a7a


    &.has-icon .input.is-small + .icon
        font-size: 0.75rem


    &.has-icon .input.is-medium + .icon
        font-size: 1.25rem


    &.has-icon .input.is-large + .icon
        font-size: 1.5rem


    &.has-icon:not(.has-icon-right) .icon
        left: 0


    &.has-icon:not(.has-icon-right) .input
        padding-left: 2.25em


    &.has-icon.has-icon-right .icon
        right: 0


    &.has-icon.has-icon-right .input
        padding-right: 2.25em


    &.has-icons-left .input:focus ~ .icon,
    &.has-icons-left .select:focus ~ .icon,
    &.has-icons-right .input:focus ~ .icon,
    &.has-icons-right .select:focus ~ .icon
        color: #7a7a7a


    &.has-icons-left .input.is-small ~ .icon,
    &.has-icons-left .select.is-small ~ .icon,
    &.has-icons-right .input.is-small ~ .icon,
    &.has-icons-right .select.is-small ~ .icon
        font-size: 0.75rem


    &.has-icons-left .input.is-medium ~ .icon,
    &.has-icons-left .select.is-medium ~ .icon,
    &.has-icons-right .input.is-medium ~ .icon,
    &.has-icons-right .select.is-medium ~ .icon
        font-size: 1.25rem


    &.has-icons-left .input.is-large ~ .icon,
    &.has-icons-left .select.is-large ~ .icon,
    &.has-icons-right .input.is-large ~ .icon,
    &.has-icons-right .select.is-large ~ .icon
        font-size: 1.5rem


    &.has-icons-left .icon,
    &.has-icons-right .icon
        color: #dbdbdb
        height: 2.25em
        pointer-events: none
        position: absolute
        top: 0
        width: 2.25em
        z-index: 4


    &.has-icons-left .input,
    &.has-icons-left .select select
        padding-left: 2.25em


    &.has-icons-left .icon.is-left
        left: 0


    &.has-icons-right .input,
    &.has-icons-right .select select
        padding-right: 2.25em


    &.has-icons-right .icon.is-right
        right: 0


    &.is-loading::after
        -webkit-animation: spinAround 500ms infinite linear
        animation: spinAround 500ms infinite linear
        border: 2px solid #dbdbdb
        border-radius: 290486px
        border-right-color: transparent
        border-top-color: transparent
        content: ""
        display: block
        height: 1em
        position: relative
        width: 1em
        position: absolute !important
        right: 0.625em
        top: 0.625em


    &.is-loading.is-small:after
        font-size: 0.75rem


    &.is-loading.is-medium:after
        font-size: 1.25rem


    &.is-loading.is-large:after
        font-size: 1.5rem

