
.input,
.textarea
    -moz-appearance: none
    -webkit-appearance: none
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    border: 1px solid transparent
    border-radius: 3px
    -webkit-box-shadow: none
    box-shadow: none
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex
    font-size: 1rem
    height: 2.25em
    -webkit-box-pack: start
    -ms-flex-pack: start
    justify-content: flex-start
    line-height: 1.5
    padding-bottom: calc(0.375em - 1px)
    padding-left: calc(0.625em - 1px)
    padding-right: calc(0.625em - 1px)
    padding-top: calc(0.375em - 1px)
    position: relative
    vertical-align: top
    background-color: white
    border-color: #dbdbdb
    color: #363636
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1)
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1)
    max-width: 100%
    width: 100%


.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active
    outline: none


.input[disabled],
.textarea[disabled]
    cursor: not-allowed


.input:hover,
.input.is-hovered,
.textarea:hover,
.textarea.is-hovered
    border-color: #b5b5b5


.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active
    border-color: #00d1b2


.input[disabled],
.textarea[disabled]
    background-color: whitesmoke
    border-color: whitesmoke
    -webkit-box-shadow: none
    box-shadow: none
    color: #7a7a7a


.input[disabled]::-moz-placeholder,
.textarea[disabled]::-moz-placeholder
    color: rgba(122, 122, 122, 0.3)


.input[disabled]::-webkit-input-placeholder,
.textarea[disabled]::-webkit-input-placeholder
    color: rgba(122, 122, 122, 0.3)


.input[disabled]:-moz-placeholder,
.textarea[disabled]:-moz-placeholder
    color: rgba(122, 122, 122, 0.3)


.input[disabled]:-ms-input-placeholder,
.textarea[disabled]:-ms-input-placeholder
    color: rgba(122, 122, 122, 0.3)


.input[type="search"],
.textarea[type="search"]
    border-radius: 290486px


.input.is-white,
.textarea.is-white
    border-color: white


.input.is-black,
.textarea.is-black
    border-color: #0a0a0a


.input.is-light,
.textarea.is-light
    border-color: whitesmoke


.input.is-dark,
.textarea.is-dark
    border-color: #363636


.input.is-primary,
.textarea.is-primary
    border-color: #00d1b2


.input.is-info,
.textarea.is-info
    border-color: #3273dc


.input.is-success,
.textarea.is-success
    border-color: #23d160


.input.is-warning,
.textarea.is-warning
    border-color: #ffdd57


.input.is-danger,
.textarea.is-danger
    border-color: #ff3860


.input.is-small,
.textarea.is-small
    border-radius: 2px
    font-size: 0.75rem


.input.is-medium,
.textarea.is-medium
    font-size: 1.25rem


.input.is-large,
.textarea.is-large
    font-size: 1.5rem


.input.is-fullwidth,
.textarea.is-fullwidth
    display: block
    width: 100%


.input.is-inline,
.textarea.is-inline
    display: inline
    width: auto


.textarea
    display: block
    max-width: 100%
    min-width: 100%
    padding: 0.625em
    resize: vertical


.textarea:not([rows])
    max-height: 600px
    min-height: 120px


.textarea[rows]
    height: unset


.checkbox,
.radio
    cursor: pointer
    display: inline-block
    line-height: 1.25
    position: relative


.checkbox input,
.radio input
    cursor: pointer


.checkbox:hover,
.radio:hover
    color: #363636


.checkbox[disabled],
.radio[disabled]
    color: #7a7a7a
    cursor: not-allowed


.radio + .radio
    margin-left: 0.5em


.select
    display: inline-block
    max-width: 100%
    position: relative
    vertical-align: top


.select:not(.is-multiple)
    height: 2.25em


.select:not(.is-multiple)::after
    border: 1px solid #00d1b2
    border-right: 0
    border-top: 0
    content: " "
    display: block
    height: 0.5em
    pointer-events: none
    position: absolute
    -webkit-transform: rotate(-45deg)
    transform: rotate(-45deg)
    width: 0.5em
    margin-top: -0.375em
    right: 1.125em
    top: 50%
    z-index: 4


.select select
    -moz-appearance: none
    -webkit-appearance: none
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    border: 1px solid transparent
    border-radius: 3px
    -webkit-box-shadow: none
    box-shadow: none
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex
    font-size: 1rem
    height: 2.25em
    -webkit-box-pack: start
    -ms-flex-pack: start
    justify-content: flex-start
    line-height: 1.5
    padding-bottom: calc(0.375em - 1px)
    padding-left: calc(0.625em - 1px)
    padding-right: calc(0.625em - 1px)
    padding-top: calc(0.375em - 1px)
    position: relative
    vertical-align: top
    background-color: white
    border-color: #dbdbdb
    color: #363636
    cursor: pointer
    display: block
    font-size: 1em
    max-width: 100%
    outline: none


.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active
    outline: none


.select select[disabled]
    cursor: not-allowed


.select select:hover,
.select select.is-hovered
    border-color: #b5b5b5


.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active
    border-color: #00d1b2


.select select[disabled]
    background-color: whitesmoke
    border-color: whitesmoke
    -webkit-box-shadow: none
    box-shadow: none
    color: #7a7a7a


.select select[disabled]::-moz-placeholder
    color: rgba(122, 122, 122, 0.3)


.select select[disabled]::-webkit-input-placeholder
    color: rgba(122, 122, 122, 0.3)


.select select[disabled]:-moz-placeholder
    color: rgba(122, 122, 122, 0.3)


.select select[disabled]:-ms-input-placeholder
    color: rgba(122, 122, 122, 0.3)


.select select:hover
    border-color: #b5b5b5


.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active
    border-color: #00d1b2


.select select::-ms-expand
    display: none


.select select[disabled]:hover
    border-color: whitesmoke


.select select:not([multiple])
    padding-right: 2.5em


.select select[multiple]
    height: unset
    padding: 0


.select select[multiple] option
    padding: 0.5em 1em


.select:hover::after
    border-color: #363636


.select.is-white select
    border-color: white


.select.is-black select
    border-color: #0a0a0a


.select.is-light select
    border-color: whitesmoke


.select.is-dark select
    border-color: #363636


.select.is-primary select
    border-color: #00d1b2


.select.is-info select
    border-color: #3273dc


.select.is-success select
    border-color: #23d160


.select.is-warning select
    border-color: #ffdd57


.select.is-danger select
    border-color: #ff3860


.select.is-small
    border-radius: 2px
    font-size: 0.75rem


.select.is-medium
    font-size: 1.25rem


.select.is-large
    font-size: 1.5rem


.select.is-disabled::after
    border-color: #7a7a7a


.select.is-fullwidth
    width: 100%


.select.is-fullwidth select
    width: 100%


.select.is-loading::after
    -webkit-animation: spinAround 500ms infinite linear
    animation: spinAround 500ms infinite linear
    border: 2px solid #dbdbdb
    border-radius: 290486px
    border-right-color: transparent
    border-top-color: transparent
    content: ""
    display: block
    height: 1em
    position: relative
    width: 1em
    margin-top: 0
    position: absolute
    right: 0.625em
    top: 0.625em
    -webkit-transform: none
    transform: none


.select.is-loading.is-small:after
    font-size: 0.75rem


.select.is-loading.is-medium:after
    font-size: 1.25rem


.select.is-loading.is-large:after
    font-size: 1.5rem


.label
    color: #363636
    display: block
    font-size: 1rem
    font-weight: 700


.label:not(:last-child)
    margin-bottom: 0.5em


.label.is-small
    font-size: 0.75rem


.label.is-medium
    font-size: 1.25rem


.label.is-large
    font-size: 1.5rem

