
.has-text-centered
    text-align: center !important


.has-text-left
    text-align: left !important


.has-text-right
    text-align: right !important


.has-text-white
    color: white !important


a.has-text-white:hover, a.has-text-white:focus
    color: #e6e6e6


.has-text-black
    color: #0a0a0a !important


a.has-text-black:hover, a.has-text-black:focus
    color: black


.has-text-light
    color: whitesmoke !important


a.has-text-light:hover, a.has-text-light:focus
    color: #dbdbdb


.has-text-dark
    color: #363636 !important


a.has-text-dark:hover, a.has-text-dark:focus
    color: #1c1c1c


.has-text-primary
    color: #00d1b2 !important


a.has-text-primary:hover, a.has-text-primary:focus
    color: #009e86


.has-text-info
    color: #3273dc !important


a.has-text-info:hover, a.has-text-info:focus
    color: #205bbc


.has-text-success
    color: #23d160 !important


a.has-text-success:hover, a.has-text-success:focus
    color: #1ca64c


.has-text-warning
    color: #ffdd57 !important


a.has-text-warning:hover, a.has-text-warning:focus
    color: #ffd324


.has-text-danger
    color: #ff3860 !important


a.has-text-danger:hover, a.has-text-danger:focus
    color: #ff0537


.has-text-black-bis
    color: #121212 !important


.has-text-black-ter
    color: #242424 !important


.has-text-grey-darker
    color: #363636 !important


.has-text-grey-dark
    color: #4a4a4a !important


.has-text-grey
    color: #7a7a7a !important


.has-text-grey-light
    color: #b5b5b5 !important


.has-text-grey-lighter
    color: #dbdbdb !important


.has-text-white-ter
    color: whitesmoke !important


.has-text-white-bis
    color: #fafafa !important

