
//
// IMAGES TYLES
//

.image
    display: block
    position: relative


    img
        display: block
        height: auto
        width: 100%


    &.is-square img,
    &.is-1by1 img,
    &.is-4by3 img,
    &.is-3by2 img,
    &.is-16by9 img,
    &.is-2by1 img
        bottom: 0
        left: 0
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 100%


    &.is-square,
    &.is-1by1
        padding-top: 100%


    &.is-4by3
        padding-top: 75%


    &.is-3by2
        padding-top: 66.6666%


    &.is-16by9
        padding-top: 56.25%


    &.is-2by1
        padding-top: 50%


    &.is-16x16
        height: 16px
        width: 16px


    &.is-24x24
        height: 24px
        width: 24px


    &.is-32x32
        height: 32px
        width: 32px


    &.is-48x48
        height: 48px
        width: 48px


    &.is-64x64
        height: 64px
        width: 64px


    &.is-96x96
        height: 96px
        width: 96px


    &.is-128x128
        height: 128px
        width: 128px
