



.is-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex


@media screen and (max-width: 768px)
    .is-flex-mobile
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 769px), print
    .is-flex-tablet
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 769px) and (max-width: 1007px)
    .is-flex-tablet-only
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (max-width: 1007px)
    .is-flex-touch
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 1008px)
    .is-flex-desktop
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 1008px) and (max-width: 1199px)
    .is-flex-desktop-only
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 1200px)
    .is-flex-widescreen
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 1200px) and (max-width: 1391px)
    .is-flex-widescreen-only
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important



@media screen and (min-width: 1392px)
    .is-flex-fullhd
        display: -webkit-box !important
        display: -ms-flexbox !important
        display: flex !important
