.is-block
    display: block


@media screen and (max-width: 768px)
    .is-block-mobile
        display: block !important



@media screen and (min-width: 769px), print
    .is-block-tablet
        display: block !important



@media screen and (min-width: 769px) and (max-width: 1007px)
    .is-block-tablet-only
        display: block !important



@media screen and (max-width: 1007px)
    .is-block-touch
        display: block !important



@media screen and (min-width: 1008px)
    .is-block-desktop
        display: block !important



@media screen and (min-width: 1008px) and (max-width: 1199px)
    .is-block-desktop-only
        display: block !important



@media screen and (min-width: 1200px)
    .is-block-widescreen
        display: block !important



@media screen and (min-width: 1200px) and (max-width: 1391px)
    .is-block-widescreen-only
        display: block !important



@media screen and (min-width: 1392px)
    .is-block-fullhd
        display: block !important


