
.is-inline
    display: inline


@media screen and (max-width: 768px)
    .is-inline-mobile
        display: inline !important



@media screen and (min-width: 769px), print
    .is-inline-tablet
        display: inline !important



@media screen and (min-width: 769px) and (max-width: 1007px)
    .is-inline-tablet-only
        display: inline !important



@media screen and (max-width: 1007px)
    .is-inline-touch
        display: inline !important



@media screen and (min-width: 1008px)
    .is-inline-desktop
        display: inline !important



@media screen and (min-width: 1008px) and (max-width: 1199px)
    .is-inline-desktop-only
        display: inline !important



@media screen and (min-width: 1200px)
    .is-inline-widescreen
        display: inline !important



@media screen and (min-width: 1200px) and (max-width: 1391px)
    .is-inline-widescreen-only
        display: inline !important



@media screen and (min-width: 1392px)
    .is-inline-fullhd
        display: inline !important



.is-inline-block
    display: inline-block


@media screen and (max-width: 768px)
    .is-inline-block-mobile
        display: inline-block !important



@media screen and (min-width: 769px), print
    .is-inline-block-tablet
        display: inline-block !important



@media screen and (min-width: 769px) and (max-width: 1007px)
    .is-inline-block-tablet-only
        display: inline-block !important



@media screen and (max-width: 1007px)
    .is-inline-block-touch
        display: inline-block !important



@media screen and (min-width: 1008px)
    .is-inline-block-desktop
        display: inline-block !important



@media screen and (min-width: 1008px) and (max-width: 1199px)
    .is-inline-block-desktop-only
        display: inline-block !important



@media screen and (min-width: 1200px)
    .is-inline-block-widescreen
        display: inline-block !important



@media screen and (min-width: 1200px) and (max-width: 1391px)
    .is-inline-block-widescreen-only
        display: inline-block !important



@media screen and (min-width: 1392px)
    .is-inline-block-fullhd
        display: inline-block !important



.is-inline-flex
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex


@media screen and (max-width: 768px)
    .is-inline-flex-mobile
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 769px), print
    .is-inline-flex-tablet
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 769px) and (max-width: 1007px)
    .is-inline-flex-tablet-only
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (max-width: 1007px)
    .is-inline-flex-touch
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 1008px)
    .is-inline-flex-desktop
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 1008px) and (max-width: 1199px)
    .is-inline-flex-desktop-only
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 1200px)
    .is-inline-flex-widescreen
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 1200px) and (max-width: 1391px)
    .is-inline-flex-widescreen-only
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important



@media screen and (min-width: 1392px)
    .is-inline-flex-fullhd
        display: -webkit-inline-box !important
        display: -ms-inline-flexbox !important
        display: inline-flex !important
