
//
// PROGRESS BAR STYLES
//

.progress
    -moz-appearance: none
    -webkit-appearance: none
    border: none
    border-radius: 290486px
    display: block
    height: 1rem
    overflow: hidden
    padding: 0
    width: 100%


    &:not(:last-child)
        margin-bottom: 1.5rem


    &::-webkit-progress-bar
        background-color: #dbdbdb


    &::-webkit-progress-value
        background-color: #4a4a4a


    &::-moz-progress-bar
        background-color: #4a4a4a


    &.is-white::-webkit-progress-value
        background-color: white


    &.is-white::-moz-progress-bar
        background-color: white


    &.is-black::-webkit-progress-value
        background-color: #0a0a0a


    &.is-black::-moz-progress-bar
        background-color: #0a0a0a


    &.is-light::-webkit-progress-value
        background-color: whitesmoke


    &.is-light::-moz-progress-bar
        background-color: whitesmoke


    &.is-dark::-webkit-progress-value
        background-color: #363636


    &.is-dark::-moz-progress-bar
        background-color: #363636


    &.is-primary::-webkit-progress-value
        background-color: #00d1b2


    &.is-primary::-moz-progress-bar
        background-color: #00d1b2


    &.is-info::-webkit-progress-value
        background-color: #3273dc


    &.is-info::-moz-progress-bar
        background-color: #3273dc


    &.is-success::-webkit-progress-value
        background-color: #23d160


    &.is-success::-moz-progress-bar
        background-color: #23d160


    &.is-warning::-webkit-progress-value
        background-color: #ffdd57


    &.is-warning::-moz-progress-bar
        background-color: #ffdd57


    &.is-danger::-webkit-progress-value
        background-color: #ff3860


    &.is-danger::-moz-progress-bar
        background-color: #ff3860


    &.is-small
        height: 0.75rem


    &.is-medium
        height: 1.25rem


    &.is-large
        height: 1.5rem
