{% extends "layout" %}

{% block body %}
    <h1>{{ title }}</h1>

    <blockquote>
    Last Modified: <time datetime="{{ updated|date('YYYY-MM-DDTHH:MM:SS') }}">{{ updated|date('LL') }}</time>
    </blockquote>

    {{ contents|safe }}
{% endblock body %}
