extends ../templates/page

block title
  title= post.title


block post-meta
  if post.description
    meta(name="description", content="#{post.description}")


block body-content
  !{post.postContent}
  //- mixin post(post)
  //- include _social
