
/* line 20 : C:\Users\Brandtley\github\bloggity\styles\main.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\main.styl */
@import 'http://fonts.googleapis.com/css?family=Merriweather|Open+Sans';

/* line 286 : C:\Users\Brandtley\github\bloggity\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf") format('truetype'), url("fonts/icomoon.woff") format('woff'), url("fonts/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 23 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-link:before {
  content: "\e600";
}

/* line 40 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-twitter:before {
  content: "\e601";
}

/* line 43 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-google-plus:before {
  content: "\e602";
}

/* line 46 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-facebook:before {
  content: "\e603";
}

/* line 49 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-github:before {
  content: "\e604";
}

/* line 52 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-pinterest:before {
  content: "\e605";
}

/* line 55 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-dribbble:before {
  content: "\e606";
}

/* line 58 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-menu:before {
  content: "\e607";
}

/* line 61 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-bubbles:before {
  content: "\e608";
}

/* line 64 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-soundcloud:before {
  content: "\e609";
}

/* line 67 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-skype:before {
  content: "\e60a";
}

/* line 70 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-lastfm:before {
  content: "\e60b";
}

/* line 73 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-foursquare:before {
  content: "\e60c";
}

/* line 76 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */
.icon-tumblr:before {
  content: "\e60d";
}

/* line 78 : C:\Users\Brandtley\github\bloggity\styles\_icons.styl */

/* line 14 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\index.styl */

/* line 14 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\index.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\border.styl */

/* line 10 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\border.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\clearfix.styl */

/* line 28 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\clearfix.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\color-image.styl */

/* line 4 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\color-image.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\flex.styl */

/* line 196 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\flex.styl */

/* line 90 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\gradients.styl */

/* line 90 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\gradients.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\config.styl */

/* line 11 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\config.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\iconic.styl */

/* line 7 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\iconic.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\image.styl */

/* line 25 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\image.styl */

/* line 19 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\index.styl */

/* line 19 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\index.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\base.styl */

/* line 8 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\base.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 19 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\html5.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\links.styl */

/* line 6 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\links.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\text.styl */

/* line 30 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\text.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 7 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\embed.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 17 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\groups.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 69 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\forms.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 7 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\normalize\tables.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\overflow.styl */

/* line 20 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\overflow.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\positions.styl */

/* line 66 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\positions.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\reset.styl */

/* line 78 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\index.styl */

/* line 5 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\index.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\aliases.styl */

/* line 12 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\aliases.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 9 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 8 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 9 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 2 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 541 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\vendor.styl */

/* line 11 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\vendor.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\config.styl */

/* line 577 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\config.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\size.styl */

/* line 28 : C:\Users\Brandtley\github\bloggity\node_modules\nib\lib\nib\size.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
/* normalize.css v2.1.2 | MIT License | git.io/normalize */

/* line 11 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 30 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
audio,
canvas,
video {
  display: inline-block;
}

/* line 41 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 50 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
[hidden] {
  display: none;
}

/* line 64 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* line 74 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
body {
  margin: 0;
}

/* line 86 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
a:focus {
  outline: thin dotted;
}

/* line 94 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 108 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 117 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 125 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
b,
strong {
  font-weight: bold;
}

/* line 134 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
dfn {
  font-style: italic;
}

/* line 142 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 152 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 161 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 173 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
pre {
  white-space: pre-wrap;
}

/* line 181 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 189 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
small {
  font-size: 80%;
}

/* line 197 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
sup {
  top: -0.5em;
}

/* line 209 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
sub {
  bottom: -0.25em;
}

/* line 221 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
img {
  border: 0;
}

/* line 229 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 241 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
figure {
  margin: 0;
}

/* line 253 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 264 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/* line 275 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}

/* line 289 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
button,
input {
  line-height: normal;
}

/* line 301 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
button,
select {
  text-transform: none;
}

/* line 314 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/* line 326 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 336 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/* line 348 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 360 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 369 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 380 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/* line 393 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 396 : C:\Users\Brandtley\github\bloggity\styles\_normalize.styl */

/* line 396 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight {
  background-color: #073642;
  color: #93a1a1;
}

/* line 6 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 11 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 16 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 21 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}

/* line 26 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}

/* line 32 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .err {
  color: #dc322f !important;
  background: none !important;
}

/* line 37 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .k {
  color: #cb4b16 !important;
}

/* line 41 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}

/* line 46 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .p {
  color: #93a1a1 !important;
}

/* line 50 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}

/* line 55 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}

/* line 61 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}

/* line 67 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}

/* line 72 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gr {
  color: #a00;
}

/* line 76 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gh {
  color: #586e75 !important;
}

/* line 80 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}

/* line 86 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}

/* line 92 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .go {
  color: #888;
}

/* line 96 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gp {
  color: #555;
}

/* line 100 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}

/* line 105 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gu {
  color: #6c71c4 !important;
}

/* line 109 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .gt {
  color: #a00;
}

/* line 113 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important;
}

/* line 118 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .kd {
  color: #268bd2 !important;
}

/* line 122 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}

/* line 127 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}

/* line 132 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .kt {
  color: #2aa198 !important;
}

/* line 136 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .n {
  color: #268bd2 !important;
}

/* line 140 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .na {
  color: #268bd2 !important;
}

/* line 144 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nb {
  color: #859900 !important;
}

/* line 148 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nc {
  color: #d33682 !important;
}

/* line 152 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .no {
  color: #b58900 !important;
}

/* line 156 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .ni {
  color: #800080;
}

/* line 160 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nl {
  color: #859900 !important;
}

/* line 164 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}

/* line 169 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}

/* line 174 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nn {
  color: #b58900 !important;
}

/* line 178 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}

/* line 183 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nx {
  color: #b58900 !important;
}

/* line 187 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .bp {
  color: #999;
}

/* line 191 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .vc {
  color: #008080;
}

/* line 195 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .vg {
  color: #268bd2 !important;
}

/* line 199 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .vi {
  color: #268bd2 !important;
}

/* line 203 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .nv {
  color: #268bd2 !important;
}

/* line 207 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .w {
  color: #bbb;
}

/* line 211 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .mf {
  color: #2aa198 !important;
}

/* line 215 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .m {
  color: #2aa198 !important;
}

/* line 219 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .mh {
  color: #2aa198 !important;
}

/* line 223 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .mi {
  color: #2aa198 !important;
}

/* line 227 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .mo {
  color: #099;
}

/* line 231 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .s {
  color: #2aa198 !important;
}

/* line 235 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .sb {
  color: #d14;
}

/* line 239 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .sc {
  color: #d14;
}

/* line 243 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .sd {
  color: #2aa198 !important;
}

/* line 247 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .s2 {
  color: #2aa198 !important;
}

/* line 251 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .se {
  color: #dc322f !important;
}

/* line 255 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .sh {
  color: #d14;
}

/* line 259 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .si {
  color: #268bd2 !important;
}

/* line 263 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .sx {
  color: #d14;
}

/* line 267 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .sr {
  color: #2aa198 !important;
}

/* line 271 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .s1 {
  color: #2aa198 !important;
}

/* line 275 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .ss {
  color: #990073;
}

/* line 279 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight .il {
  color: #099;
}

/* line 283 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */
.highlight div .gd,
.highlight div .gd .x,
.highlight div .gi,
.highlight div .gi .x {
  display: inline-block;
  width: 100%;
}

/* line 286 : C:\Users\Brandtley\github\bloggity\styles\_solarized-dark.styl */

/* line 2 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */

/* line 33 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */

/* line 37 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */
body {
  margin: 0;
  padding-top: 2.4rem;
  color: #393838;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 1rem;
}

/* line 54 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */
.content {
  position: relative;
  margin: 30px auto 0;
  max-width: 680px;
  width: 55%;
}

/* line 60 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */
.content a {
  color: #393838;
}

/* line 64 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */
.content a:hover {
  color: #578cdb;
}

/* line 75 : C:\Users\Brandtley\github\bloggity\styles\_base.styl */

/* line 75 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */

/* line 3 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown ul,
.markdown ol {
  padding-left: 30px;
}

/* line 7 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown img {
  max-width: 100%;
}

/* line 11 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown .anchor {
  text-decoration: none;
  position: absolute;
  margin-left: -1.7em;
  padding-left: 1.7em;
  outline: none;
  color: #393838;
}

/* line 19 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown .anchor:hover {
  text-decoration: none;
}

/* line 24 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  line-height: 1.3;
}

/* line 29 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown h1:hover .header-link,
.markdown h2:hover .header-link,
.markdown h3:hover .header-link,
.markdown h4:hover .header-link,
.markdown h5:hover .header-link,
.markdown h6:hover .header-link {
  visibility: visible;
}
@include breakpoint(big-phone) {
  visibility: hidden;
}

/* line 38 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown blockquote {
  border-left: 6px solid #dcdcdc;
  margin-left: 0;
  padding-left: 1em;
}

/* line 45 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.header-link {
  margin-left: -1.7em;
  visibility: hidden;
  font-size: 16px;
}
@include breakpoint(big-phone) {
  font-size: 14px;
}
@include breakpoint(small-phone) {
  font-size: 12px;
}

/* line 59 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
code {
  background: #ebebff;
  border: 1px solid #e6e6e6;
  padding: 0 0.23em;
  margin: 0;
  font-size: 0.8em;
  line-height: 1.5em;
  font-family: Monaco, Consolas, monospace;
}
@include border-radius(3px);

/* line 70 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown > pre {
  font-family: Monaco, Consolas, monospace;
  margin: 1em 0;
  white-space: normal;
}

/* line 75 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown > pre pre {
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  overflow: auto;
}

/* line 82 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.markdown > pre code {
  border: 0;
  padding: 0;
}

/* line 88 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
@include border-radius(3px);

/* line 91 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */
.highlight pre {
  padding: 15px;
  margin-bottom: 0;
}

/* line 95 : C:\Users\Brandtley\github\bloggity\styles\_markdown.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */

/* line 2 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
.name {
  z-index: 100;
  font-weight: normal;
  font-size: 2em;
  margin: 30px 0;
  padding-left: 40px;
}

/* line 11 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
nav {
  height: 2.4rem;
  top: 0;
  background: #578cdb;
}

/* line 16 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
nav::before {
  position: relative;
  height: 2.4rem;
  display: block;
}

/* line 21 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

/* line 26 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
nav a:hover {
  text-decoration: underline;
}

/* line 31 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
.nav-links {
  list-style: none;
  background: #578cdb;
}

/* line 35 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */
.nav-links li {
  display: inline-block;
}

/* line 36 : C:\Users\Brandtley\github\bloggity\styles\_nav.styl */

/* line 36 : C:\Users\Brandtley\github\bloggity\styles\_mobile-nav.styl */

/* line 114 : C:\Users\Brandtley\github\bloggity\styles\_mobile-nav.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */

/* line 2 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.post-head {
  border-bottom: 1px solid #b8b7b7;
  margin: 1em 0;
  padding-bottom: 5px;
  position: relative;
}

/* line 8 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.post-head a {
  text-decoration: none;
}

/* line 13 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.post-title {
  float: left;
  padding-right: 4.9rem;
  margin: 0 0 5px;
  font-size: 2rem;
}
@include breakpoint(big-phone) {
  font-size: 1.7rem;
}

/* line 24 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.post-date {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #b8b7b7;
}

/* line 33 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.post-body {
  margin-bottom: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.65rem;
}

/* line 39 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.social {
  padding: 0.55em 0 1.4rem;
}

/* line 43 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.comments {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 48 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.comments a {
  color: #b8b7b7;
  text-decoration: none;
}

/* line 52 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */
.comments .icon-bubbles {
  padding: 3px 15px 5px 0;
  float: left;
}

/* line 54 : C:\Users\Brandtley\github\bloggity\styles\_post.styl */

/* line 1 : C:\Users\Brandtley\github\bloggity\styles\_pagination.styl */

/* line 2 : C:\Users\Brandtley\github\bloggity\styles\_pagination.styl */
.pagination {
  width: 100%;
}

/* line 5 : C:\Users\Brandtley\github\bloggity\styles\_pagination.styl */
.pagination a {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.7rem 0;
  text-decoration: none;
}

/* line 13 : C:\Users\Brandtley\github\bloggity\styles\_pagination.styl */
.older {
  float: left;
}

/* line 17 : C:\Users\Brandtley\github\bloggity\styles\_pagination.styl */
.newer {
  float: right;
}
