---
layout: default
title: Posts Archive
generator: pagination
use:
    - posts
---
<h2>Posts Archive</h2>

<ul>
  {% for post in page.pagination.items %}
    <li>
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a><br>
      <time>{{ post.date|date('F d, Y') }}</time>
    </li>
  {% endfor %}
</ul>

<div>
  {% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
      {% if page.pagination.previous_page %}
        <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
      {% endif %}

      {% if page.pagination.next_page %}
        <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
      {% endif %}
    </nav>
  {% endif %}
</div>
